<!--Contact Info-->
<div class="contact-info">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="info-card">
          <h4 class="info-card-head">Dirección</h4>
          <p class="info-card-text">Alajuela, Grecia</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-card">
          <h4 class="info-card-head">Email</h4>
          <p class="info-card-text">olthanfurniture@gmail.com</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-card">
          <h4 class="info-card-head">Teléfono</h4>
          <p class="info-card-text">8490-1840 / 6124-2228</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Form-->
<div class="contact-info">
  <div class="container">
    <div class="row">
      <h3 class="header">Envíanos un mensaje</h3>
    </div>
  </div>
</div>


<div class="contact-info">
  <div class="container">
    <h3 class="header">Encuentranos en</h3>
  </div>
</div>

<div class="grid">
  <iframe src="https://maps.google.com/maps?q=grecia%20alajuela&t=&z=13&ie=UTF8&iwloc=&output=embed" style="border:0"></iframe>
</div>

