<div class="banner">
    <div class="top-content-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="feature">
                <span> Muebles Modernos</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="description">
                <p>Especialistas en muebles de cocina, baños y closets</p>
                <p>Sobres en cuarzo, granito y marmols</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="more-info-btn">
                <a routerLink="../about" class="btn-radial">Conocenos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


<app-banner-bottom></app-banner-bottom>

<app-portfolio></app-portfolio>
<app-portfolio></app-portfolio>
<app-portfolio></app-portfolio>
<app-portfolio></app-portfolio>
<app-portfolio></app-portfolio>
<app-portfolio></app-portfolio>
<app-portfolio></app-portfolio>
<app-portfolio></app-portfolio>
<app-portfolio></app-portfolio>

