<div class="events-top">
  <div class="row">
    <div class="col-3 agile_events_top_grid">
      <a href="../../assets/images/furn_02.jpg" class="lsb-preview" data-lsb-group="header">
        <div class="w3_agileits_evets_text_img">
          <div class="view view-eighth">
            <img src="../../assets/images/furn_02.jpg" alt=" " class="img-responsive" />
            <div class="mask">
              <img src="../../assets/images/plus.png" alt=" " class="info" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-3 agile_events_top_grid">
      <a href="../../assets/images/furn_02.jpg" class="lsb-preview" data-lsb-group="header">
        <div class="w3_agileits_evets_text_img">
          <div class="view view-eighth">
            <img src="../../assets/images/furn_02.jpg" alt=" " class="img-responsive" />
            <div class="mask">
              <img src="../../assets/images/plus.png" alt=" " class="info" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-3 agile_events_top_grid">
      <a href="../../assets/images/furn_02.jpg" class="lsb-preview" data-lsb-group="header">
        <div class="w3_agileits_evets_text_img">
          <div class="view view-eighth">
            <img src="../../assets/images/furn_02.jpg" alt=" " class="img-responsive" />
            <div class="mask">
              <img src="../../assets/images/plus.png" alt=" " class="info" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-3 agile_events_top_grid">
      <a href="../../assets/images/furn_02.jpg" class="lsb-preview" data-lsb-group="header">
        <div class="w3_agileits_evets_text_img">
          <div class="view view-eighth">
            <img src="../../assets/images/furn_02.jpg" alt=" " class="img-responsive" />
            <div class="mask">
              <img src="../../assets/images/plus.png" alt=" " class="info" />
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>