
  <div class="row banner">

    <div class="col-md-6 left-image-box">
      <div class="agile-banner">
        <figure>
          <img src="../../assets/images/furn_08.jpg" alt="img" class="img-responsive">
        </figure>
      </div>
    </div>

    <div class="col-md-6 icons-right-box">
      <div class="row">
          <div class="col-6 banner-icons">
              <div class="banner-icons-effect"> 
                <fa-icon [icon]="['fas', 'anchor']"></fa-icon>
                <h3>Interior enterprise</h3>
                <p>Curabitur ac enim et augue consectetur elementum sed vitae neque</p>
              </div>
            </div>
            <div class="col-6 banner-icons">
              <div class="banner-icons-effect">
                <fa-icon [icon]="['fas', 'anchor']"></fa-icon>
                <h3>Interior enterprise</h3>
                <p>Curabitur ac enim et augue consectetur elementum sed vitae neque</p>
              </div>
            </div>
      </div>
      <div class="row">
          <div class="col-6 banner-icons">
              <div class="banner-icons-effect">
                <fa-icon [icon]="['fas', 'anchor']"></fa-icon>
                <h3>Interior enterprise</h3>
                <p>Curabitur ac enim et augue consectetur elementum sed vitae neque</p>
              </div>
            </div>
            <div class="col-6 banner-icons">
              <div class="banner-icons-effect">
                <fa-icon [icon]="['fas', 'anchor']"></fa-icon>
                <h3>Interior enterprise</h3>
                <p>Curabitur ac enim et augue consectetur elementum sed vitae neque</p>
              </div>
            </div>
      </div>
      
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
