<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed"
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" [ngbCollapse]="!isCollapsed">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="home">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="gallery">Galería</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="contact">Contáctenos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" routerLink="about">¿Quiénes Somos?</a>
            </li>
        </ul>
    </div>
  </nav>