<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        LOGO
      </div>
      <div class="col-md-6">
        <h4>
          Llámanos al
          <span>8490-1840 / 6162-2228</span>
        </h4>
        <p> Alajuela, Grecia
          <span>100 mts norte sdasd</span>
        </p>

      </div>
      <div class="col-md-3">
        <ul>
          <li>
            <a routerLink=''> Inicio </a>
          </li>
          <li>
            <a routerLink='gallery'> Galería </a>
          </li>
          <li>
            <a routerLink='contact'> Contáctenos </a>
          </li>
          <li>
            <a routerLink='about'> ¿Quiénes somos? </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer-copy">
  <div class="container">
    <p>© 2018 OLTHAN Muebles Modernos. Todos los derechos reservados</p>
  </div>
</div>